<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDv_KXOkSenqNzz9PcvW9kM2Qn32WyAk1g</string>
	<key>GCM_SENDER_ID</key>
	<string>623647988317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.likhithsapplication.app.testProject</string>
	<key>PROJECT_ID</key>
	<string>purechoice</string>
	<key>STORAGE_BUCKET</key>
	<string>purechoice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623647988317:ios:f6a9cca9d4938936cfcbb4</string>
</dict>
</plist>